In [1]:
import pyreadr
import glob
import pandas as pd
import numpy as np
import dask.dataframe as dd
import matplotlib.pyplot as plt
import json
import dask
import geopandas as gp
import matplotlib.pyplot as plt
from math import radians, cos, sin, asin, sqrt

In [2]:
##Supply data from WASDE
wasde = pd.read_csv('WASDE.csv')
wasde

     month  year  production  total use  ending stock
0        1  2008       13074      12955        1438.0
1        2  2008       13074      12955           NaN
2        3  2008       13074      12955        1438.0
3        4  2008       13074      13110        1283.0
4        5  2008       12125      12760         763.0
..     ...   ...         ...        ...           ...
120      1  2018       14604      14470        2477.0
121      2  2018       14604      14595        2352.0
122      3  2018       14604      14820        2127.0
123      4  2018       14604      14765        2182.0
124      5  2018       14040      14590        1682.0

[125 rows x 5 columns]

In [3]:
##Merge with main data
zonal_stats_full_wasde=zonal_stats_full.merge(wasde,on=['month', 'year'])
zonal_stats_full_wasde

NameError: name 'zonal_stats_full' is not defined

In [ ]:
##Multiple Regression Supply-Weather
Regression2 = mt.reg(zonal_stats_full_wasde, "production",{"temp_difference_abs", "rain_difference_abs"}, addcons=True)
Regression2